[submodule "3rdparty/pico-sdk"]
	path = src/3rdparty/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
# [submodule "src/3rdparty/FreeRTOS-Kernel"]
# 	path = src/3rdparty/FreeRTOS-Kernel
# 	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git